/* Стилизация кнопки */
@import '../../assets/css/variables.css';

.button {
    background: none;
    border: none;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-white);
    padding: 15px 67px;
    cursor: pointer;
    box-sizing: border-box;
}

.button_disabled {
    opacity: 0.5;
}

.button_primary {
    background: var(--color-primary);
}

.button_primary:hover {
    background: var(--color-primary-hover);
}

.button_secondary {
    background: var(--color-secondary);
}

.button_secondary:hover {
    background: var(--color-secondary-hover);
}

.button_alternate {
    border: 1px solid var(--color-alternate);
    color: var(--color-alternate-text);
}

.button_alternate:hover {
    border: 1px solid var(--color-alternate-hover);
}
