/* Стилизация аккордеона */
.accordion {
    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 24px 32px;
    max-width: 730px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
.accordion__title {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
}

.accordion__text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
    display: none;
}