.skeleton {
    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 24px 40px 24px 24px;
}
.skeleton__header {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
}
.skeleton__group {
    width: 100%;
    margin-left: 16px;
}
.skeleton__avatar {
    background: var(--grey-2);
    border-radius: 50%;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
}
.skeleton__line {
    background: var(--gradient);
    height: 20px;
    margin-bottom: 8px;
    width: auto;
}
.skeleton__line-1 {
    margin-right: 263px;
}
.skeleton__line-2 {
    margin-right: 178px;
}